body.Home {
    background-color: rgb(255, 255, 255);
    padding-bottom: 300px;
    position: relative;
	animation: fadeIn 3s;
	animation-delay: 9s;
}


@media screen and (min-width: 800px){    
    /* Intro Text */
    .grid-container {
        display: grid;
        grid-template-areas: 
        'header header header'
        'grid-title-1 grid-title-2 grid-title-4';
        padding: 10px;
        margin-top: 150px;
        grid-gap: 10px;
    }

    .tile-btn-galleries, .hardwood-btn-galleries, .woodfloor-btn-galleries, .all-btn-galleries{
        background-color: rgb(62, 139, 228);
        border: none;
        height: 100%;
        width: 60%;
        font-size: 20px;
        color: white;
        transition: 0.5s;
    }
    .tile-btn-galleries:hover, .hardwood-btn-galleries:hover, .woodfloor-btn-galleries:hover, .all-btn-galleries:hover{
        color: #111;
        transition: 0.5s;
        background-color: transparent;
        border: 2px solid black;
    }


    .grid-main {
        grid-area: header;
        font-size: 36px;
        text-align: center;
        font-weight: 700;
        padding-top: 10px;
    }
    
    .grid-title {
        background-color: rgba(255, 255, 255, 0.8);
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 10px;
        font-size: 30px;
        text-align: center;
    }
    
    
    
    /* Footer */
    .footer_index{
        position: absolute;
        /* bottom: -300px; */
        width: 100%;
        /* height: 20%; */
        background: #111;
    }

}



/*------------------------------------------------------ PHONE VIEW ------------------------------------------------------ */
@media screen and (max-width: 800px){
/* Change logo aize for header */
.logo{
	height: 61px;
	width: 197px;
}

/* Intro Text */
.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header'
    'grid-title-1 grid-title-2 grid-title-4';
	padding: 10px;
	margin-top: 150px;
	grid-gap: 10px;
}

.tile-btn-galleries, .hardwood-btn-galleries, .woodfloor-btn-galleries, .all-btn-galleries{
    background-color: rgb(62, 139, 228);
    border: none;
    height: 100%;
    width: 100%;
    font-size: 12px;
    color: white;
    transition: 0.5s;
}
.tile-btn-galleries:hover, .hardwood-btn-galleries:hover, .woodfloor-btn-galleries:hover, .all-btn-galleries:hover{
    color: #111;
    transition: 0.5s;
    background-color: transparent;
    border: 2px solid black;
}

.grid-main {
	grid-area: header;
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	padding-top: 10px;
}

.grid-title {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 5px;
	margin-top: 10px;
	font-size: 30px;
	text-align: center;
}

.footer_phone{
	position: absolute;
	width: 100%;
	background: #111;
}


}