body.Home {
    background-color: rgb(255, 255, 255);
    padding-bottom: 300px;
    position: relative;
	animation: fadeIn 3s;
	animation-delay: 9s;
}


@media screen and (min-width: 800px){

/*slide show for home page*/
.fadein {
    position:absolute;
    top: -570px;
	height: auto;
    width: 100%;
}
.fadein img {
    position:absolute;
	height: 550px;
	width: 100%;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 14s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 14s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#img-1 {
	background-image: url(imgs/townhouse.jpg); 
	background-position: center;
	background-size: 100%;
}
#img-2 {
    -webkit-animation-delay: -9s;
	background-image: url(imgs/house.jpg); 
	background-position: center;
	background-size: 100%;
}
#img-3 {
    -webkit-animation-delay: -5s;
	background-image: url(imgs/condo.jpeg); 
	background-position: center;
	background-size: 100%;
}


/* Intro Text */
.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header'
	'grid-title-1 grid-title-2 grid-title-3'
	'grid-library-1 grid-library-2 grid-library-3'
	'grid-item-1 grid-item-2 grid-item-3';
	padding: 10px;
	margin-top: 700px;
	grid-gap: 10px;
}

/* Library-Button Img */
.grid-container img {
    transition: 1s;
    padding: 15px;
    width: 200px;
}

.grid-container img:hover{
	filter: grayscale(50%);
	transform: scale(1.08);
}

/* Photo Library */
.grid-library .lib{
	float: none;
	display: flex;
	position: relative;
	margin: auto;
	justify-content: center;
}

.grid-library .btn{
	position: relative;
	border: 1px solid black;
}

.grid-main {
	grid-area: header;
	font-size: 36px;
	text-align: center;
	font-weight: 700;
	padding-top: 10px;
}

.grid-title {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 25px;
	margin-top: 10px;
	font-size: 30px;
	text-align: center;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	font-size: 20px;
	text-align: center;
}

/* Contact Button */
.contact-button{
	position: relative;
	transition: 0.5s;
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	padding: 15px;
	margin-bottom: 45px;
	background-color: rgb(41, 122, 214);
	border-radius: 0%;
	font-size: 20px;
	box-shadow: none;
	border: none;
}
.contact-button:hover{
	color: #111;
	transition: 0.5s;
	background-color: transparent;
	border: 2px solid black;
}

/* Picture With Text on Top */
/* .normal-office {
	position: relative;
    top: 90px;
    width: 100%;
    height: auto;
}

.history{
	position: relative;
	text-align: center;
	color:rgb(255, 255, 255);
	background-color: #2644cc5b;
}
.history p{
	position: relative;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
} */

/* Footer */
.footer_index{
	position: absolute;
	bottom: -500px;
	width: 100%;
	height: 30%;
	background: #111;
}

}



/*------------------------------------------------------ PHONE VIEW ------------------------------------------------------ */
@media screen and (max-width: 800px){

/*slide show for home page*/
.fadein {
    position:absolute;
    top: -250px;
	height: auto;
    width: 100%;
}
.fadein img {
    position:absolute;
	height: 200px;
	width: 100%;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 14s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 14s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#img-1 {
	background-image: url(imgs/townhouse.jpg); 
	background-position: center;
	background-size: 100%;
}
#img-2 {
    -webkit-animation-delay: -9s;
	background-image: url(imgs/house.jpg); 
	background-position: center;
	background-size: 100%;
}
#img-3 {
    -webkit-animation-delay: -5s;
	background-image: url(imgs/condo.jpeg); 
	background-position: center;
	background-size: 100%;
}



/* slide show for services page
slider{
	position: absolute;
	overflow: hidden;
	height: 225px;
	width: 100%;
	margin-top: -55%;
}


slider > *{
	position: absolute;
	display: block;
	width: 100%;
	height: 90%;
	background: #1f1f1f;
	animation: slide 12s infinite;
	overflow: hidden;
}

slide:nth-child(1){
	left: 0%;
	animation-delay: -1s;
	background-image: url(imgs/townhouse.jpg); 
	background-position: center;
	background-size: 100%;


}
slide:nth-child(2){
	left:100%;
	animation-delay: 2s;
	background-image: url(imgs/house.jpg); 
	background-position: center;
	background-size: 100%;

}
slide:nth-child(3){
	left: 100%;
	animation-delay: 5s;
	background-image: url(imgs/tower.jpg); 
	background-position: center;
	background-size: 100%;

}
slide:nth-child(4){
	left: 100%;
	animation-delay: 8s;
	background-image: url(imgs/condo.jpeg); 
	background-position: center;
	background-size: 100%;

}


slide p{
	margin-top: 100px;
	width: 50%;
	position: absolute;
	right: 25%;
	left: 25%;
	font-family: comfortaa;
	font-size: 30px;
	text-align: center;
	display:inline-block;
	color: dark black;
	font-style: italic;
	background-color: #efeeefa9;
	border: 6px solid rgb(248, 248, 248);
}

@keyframes slide{
	0%{ left: 100%; width: 100%;}
	5%{ left: 0%;}
	25%{ left: 0%;}
	30%{ left: -100%; width: 100%;}
	30.0001%{ left : -100%; width: 0%;}
	100% {left: 100%; width :0%};
} */


/* Intro Text */
.grid-container {
	display: grid;
	grid-template-areas: 
	'header'
	'grid-title-1 '
	'grid-library-1 '
	'grid-item-1 '
	'grid-title-2 '
	'grid-library-2 '
	'grid-item-2'
	'grid-title-3 '
	'grid-library-3 '
	'grid-item-3';
	padding: 10px;
	margin-top: 100%;
	grid-gap: 10px;
}

/* Library-Button Img */
.grid-container img {
    transition: 1s;
    padding: 15px;
    width: 250px;
}

.grid-container img:hover{
	filter: grayscale(50%);
	transform: scale(1.08);
}

/* Photo Library */
.grid-library .lib{
	float: none;
	display: flex;
	position: relative;
	margin: auto;
	justify-content: center;
}

.grid-library .btn{
	position: relative;
	border: 2px solid black;
}

.grid-main {
	grid-area: header;
	font-size: 36px;
	text-align: center;
	font-weight: 700;
	padding-top: 10px;
}

.grid-title {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 25px;
	margin-top: 10px;
	font-size: 30px;
	text-align: center;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	font-size: 20px;
	text-align: center;
}

/* Contact Button */
.contact-button{
	position: relative;
	transition: 0.5s;
	width: 80%;
	left: 10%;
	right: 10%;
	padding: 15px;
	margin-bottom: 45px;
	background-color: rgb(41, 122, 214);
	border-radius: 0%;
	font-size: 20px;
	box-shadow: none;
	border: none;
}
.contact-button:hover{
	color: #111;
	transition: 0.5s;
	background-color: transparent;
	border: 2px solid black;
}


.footer_index{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 15%;
	background: #111;
}



}