body.Home {
    background-color: rgb(255, 255, 255);
    padding-bottom: 300px;
    position: relative;
	animation: fadeIn 3s;
	animation-delay: 9s;
}

/* @media screen and (min-width: 800px){ */

/* .Bathrooms_btn {
	position: relative;
	border: 2px solid black;
	height: 110%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.Rooms_btn {
	position: relative;
	border: 2px solid black;
	height: 110%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.lower-content > div{
	height: 300px;
	display:inline-block;
	display: flex;
	
} 
.lower-content{
	display: flex;
	margin-top: -40%;	
}

.left_bathrooms{
    float: none;
    display: flex;
	position: relative;
	margin-top: 10%;
    margin-left: 2%;
    margin-right: auto;
}
.right_rooms{
    float: none;
	display: flex;
	position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: 2%;
}

.lower-content img {
    transition: 1s;
    padding: 15px;
    width: 300px;
    border-radius: 50%;
}

.lower-content img:hover{
	filter: grayscale(50%);
	transform: scale(1.08);
}

.left{
	float: left;
}

.right{
	float: right;
}

.middle{
	display: flex;
	justify-content: space-between;  
	padding-top: 50%;
}
.middle p {
    position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
    font-size: 35px;
    width: 40%;
    text-align: center;
    display: flex;
    padding: 15px;
	background: #efeeef;
} */
/* .middle ul {
    position: relative;
	display: inline-block;
	margin-right: 26%;
    font-size: 25px;
    text-align: left;
    width: 15%;
    border: 5px solid black;
    color: black;
    background-color: rgb(235, 235, 235); 
} */

/* 
/*------------------------------------------------------ PHONE VIEW ------------------------------------------------------ 
@media screen and (max-width: 800px){ */
/* 
.container{
	width: 80%;
	margin: 0 auto;
}

 


.Bathrooms_btn {
	position: relative;
	border: 2px solid black;
	height: 120%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.Rooms_btn {
	position: relative;
	border: 2px solid black;
	height: 120%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.lower-content > div{
	height: 150px;
	display:inline-block;
	display: flex;
	
} 
.lower-content{
	display: flex;
	margin-top: 5%;	
}

.left_bathrooms{
    float: none;
    display: flex;
	position: relative;
	margin-top: 0%;
	margin-bottom: 50%;
    margin-left: 2%;
    margin-right: auto;
}
.right_rooms{
    float: none;
	display: flex;
	position: relative;
    margin-top: 0%;
	margin-bottom: 50%;
    margin-left: auto;
    margin-right: 2%;
}

.lower-content img {
    transition: 1s;
    padding: 15px;
    width: 150px;
	height: 150px;
    border-radius: 50%;
}

.lower-content img:hover{
	filter: grayscale(50%);
	transform: scale(1.08);
}

.left{
	float: left;
}

.right{
	float: right;
} */

 /* .middle{
	display: flex;
	justify-content: space-between;  
	padding-top: 80%;
}
.middle p {
    position: relative;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
    font-size: 24px;
    width: 80%;
    text-align: center;
    display: flex;
    padding: 15px;
	background: #efeeef;
}  */
/* .middle ul {
    position: relative;
	display: inline-block;
	margin-right: 26%;
    font-size: 25px;
    text-align: left;
    width: 15%;
    border: 5px solid black;
    color: black;
    background-color: rgb(235, 235, 235); 
} */






/* ----------------------------------------------------WEB VIEW */

@media screen and (min-width: 800px){
    .services-text-1{
        position: relative;
        margin-top: 12%;
        color: black;
        font-size:36px;
        background-color: rgb(255, 255, 255);
        width: 17%;
        left: 30px;
        list-style-type: none;
    }
    .services-text-1 button{
        transition: 0.5s;
        padding: 15px;
        width: 90%;
        background-color: rgb(41, 122, 214);
        border-radius: 0%;
        font-size: 20px;
        box-shadow: none;
        border: none;
    }
    .services-text-1 button:hover{
        color: #111;
        transition: 0.5s;
        background-color: transparent;
        border: 2px solid black;
    }

    

    #services-container-tiles, #services-container-hardwood,  #services-container-renovation ,  #services-container-demolition ,  #services-container-remodeling {
        display: none;
        display: grid;
        grid-template-areas: "p1 p2";
        padding: 10px;
        margin-top: -19.8%;
        grid-gap: 10px;
        width: 80%;
        margin-left: 18%;
        margin-right:2%;
    }
    #services-container-tiles img, #services-container-hardwood img,  #services-container-renovation img,  #services-container-demolition img,  #services-container-remodeling img {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-right: 5%;
    }
    #services-container-tiles p, #services-container-hardwood p,  #services-container-renovation p,  #services-container-demolition p,  #services-container-remodeling p {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        font-size: 20px;

    }
    #services-container-tiles .info-1, #services-container-hardwood .info-1,  #services-container-renovation .info-1,  #services-container-demolition .info-1,  #services-container-remodeling .info-1 {
        grid-area: 'p1';
    }
    #services-container-tiles .info-2, #services-container-hardwood .info-2,  #services-container-renovation .info-2,  #services-container-demolition .info-2,  #services-container-remodeling .info-2 {
        grid-area: 'p2';
    }


    #services-container-hardwood{
        display: none;
    }
    #services-container-renovation{
        display: none;
    }
    #services-container-demolition{
        display: none;
    }
    #services-container-remodeling{
        display: none;
    }
}


/*------------------------------------------------------ PHONE VIEW ------------------------------------------------------ */
@media screen and (max-width: 800px){


}
