/*Gallery Container*/
#index-gallery-r, #index-gallery-b{
    padding-top: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template:
        "img1 img2 img3 img4"
        "img5 img6 img7 img8";
}

#index-gallery-r .room-gallery-img, #index-gallery-b .bathroom-gallery-img{
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* --------------------------------------------------Room Images--------------------------------------*/

#index-gallery-r .img1{
    grid-area: img1;
    background-image: url("imgs/img/thumbs/Room/img1.jpg");
}
#index-gallery-r .img2{
    grid-area: img2;
    background-image: url("imgs/img/thumbs/Room/img2.jpg");
}
#index-gallery-r .img2{
    grid-area: img2;
    background-image: url("imgs/img/thumbs/Room/img2.jpg");
}
#index-gallery-r .img3{
    grid-area: img3;
    background-image: url("imgs/img/thumbs/Room/img3.jpg");
}
#index-gallery-r .img4{
    grid-area: img4;
    background-image: url("imgs/img/thumbs/Room/img4.jpg");
}
#index-gallery-r .img5{
    grid-area: img5;
    background-image: url("imgs/img/thumbs/Room/img5.jpg");
}
#index-gallery-r .img6{
    grid-area: img6;
    background-image: url("imgs/img/thumbs/Room/img6.jpg");
}
#index-gallery-r .img7{
    grid-area: img7;
    background-image: url("imgs/img/thumbs/Room/img7.jpg");
}
#index-gallery-r .img8{
    grid-area: img8;
    background-image: url("imgs/img/thumbs/Room/img8.jpg");
}
/* ---------------------------------Bathrooom Images --------------------------*/

#index-gallery-b .img1{
    grid-area: img1;
    background-image: url("imgs/img/thumbs/Bathroom/img2.jpg");
}
#index-gallery-b .img2{
    grid-area: img2;
    background-image: url("imgs/img/thumbs/Bathroom/img2.jpg");
}
#index-gallery-b .img2{
    grid-area: img2;
    background-image: url("imgs/img/thumbs/Bathroom/img2.jpg");
}
#index-gallery-b .img3{
    grid-area: img3;
    background-image: url("imgs/img/thumbs/Bathroom/img3.jpg");
}
#index-gallery-b .img4{
    grid-area: img4;
    background-image: url("imgs/img/thumbs/Bathroom/img4.jpg");
}
#index-gallery-b .img5{
    grid-area: img5;
    background-image: url("imgs/img/thumbs/Bathroom/img5.jpg");
}
#index-gallery-b .img6{
    grid-area: img6;
    background-image: url("imgs/img/thumbs/Bathroom/img6.jpg");
}
#index-gallery-b .img7{
    grid-area: img7;
    background-image: url("imgs/img/thumbs/Bathroom/img7.jpg");
}
#index-gallery-b .img8{
    grid-area: img8;
    background-image: url("imgs/img/thumbs/Bathroom/img8.jpg");
}



/* Gallery image styling*/
.room-gallery-img div , .bathroom-gallery-img div{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.room-gallery-img a , .bathroom-gallery-img a{
    font-size: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.room-gallery-img div:hover , .bathroom-gallery-img div:hover{
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}

/* Popup window when clicked*/
.img-window{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.img-window img{
    max-height: 80vh;
    max-width: 80vw;

}

/* Button Next */
.img-btn-next{
    display: block;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    top: 48vh;
    z-index: 500;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}
.img-btn-next:hover {
    opacity: 0.7;
}

/* Button Prev */
.img-btn-prev {
    display: block;
    padding: 10px 10px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    top: 48vh;
    z-index: 500;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-prev:hover {
    opacity: 0.7;
}